<!-- Intro Section -->
<div class="view hm-white-light jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(../../assets/banner.jpg);">
    <div class="full-bg-img">
        <div class="container flex-center">
            <div class="row pt-5 mt-3">
                <div class="col-md-12 mb-3">
                    <div class="intro-info-content">
                        <h4 class="mt-2 white-text font-bold wow fadeInDown" data-wow-delay="0.3s">Welcome to the</h4>
                        <h1 class="display-5 white-text font-bold wow fadeInDown" data-wow-delay="0.3s">
                            <a class="deep-orange-text font-bold">Clinix Health Group</a>
                        </h1>
                        <h4 class="white-text mt-2 mb-5 font-bold wow fadeInDown">Vendor Application Site</h4>
                        <p>Please first register an account and then login so you can submit your information</p>
                        <!-- <div class="jumbotron">
                            <button type="button" [routerLink]="['/form']" class="btn" *ngIf="isLoggedIn()">Go to submit a new Form</button>
                        </div> -->
                        <a *ngIf="!isLoggedIn()" routerLink="/user/login" class="btn btn-deep-orange btn-lg wow fadeInDown" data-wow-delay="0.3s">Login to account <i class="fa fa-sign-in-alt"></i></a>
                        <a *ngIf="!isLoggedIn()" routerLink="/user/register" class="btn btn-white btn-lg deep-orange-text wow fadeInDown" data-wow-delay="0.3s">Register as a vendor <i class="fa fa-user-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>