 <div class="card">
            <div class="card-header" data-background-color="charcoal">
                    <h4 class="title">Vendors</h4>
                    <p class="category">The registered vendors and their details</p>
        </div>
        <div class="card-content">

            <!--Table-->
            <table class="table table-hover table-responsive-md table-fixed">

                <!--Table head-->
                <thead>
                    <tr>
                        <!-- <th>#</th> -->
                        <th>Company Name</th>
                        <th>Work Telephone</th>
                        <th>Contact Pesron</th>
                        <th>Website</th>
                        <th>Date Registered</th>
                        <th>&nbsp;&nbsp;</th>
                    </tr>
                </thead>
                <!--Table head-->

                <!--Table body-->
                <tbody>
                    <tr *ngFor="let form of fetchedForms">
                        <!-- <th scope="row">1</th> -->
                        <td>{{form.tradingName}}</td>
                        <td>{{form.tel}}</td>
                        <td>{{form.accPersonName}}</td>
                        <td>{{form.website}}</td>
                        <td>{{form.dateSubmitted | date: 'medium'}}</td>
                        <td> <button class="btn btn-tiny btn-default" [routerLink]="['view', form._id]"><i class="fa fa-eye"></i></button></td>
                    </tr>
                </tbody>
                <!--Table body-->

            </table>
            <!--Table-->

        </div>
    </div>