<div class="container topPadTable">
    <h2 class="text-center">Administrator Page</h2>
    <hr>
    <table class="table table-hover table-responsive table-condensed">
        <thead>
            <tr>
                <!-- <th>Image</th> -->
                <th>User ID</th>
                <th>Company Name</th>
                <!-- <th>Text Input Two</th> -->
                <th>Trading Name</th>
                <th>Email</th>
                <th>Date Registered</th>
                <th>View</th>
                <!-- <th>Delete</th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let form of fetchedForms">
                <!-- <td class="img-resized"><img class="img-thumbnail img-responsive" src="./uploads/forms/{{form.owner}}/{{form.imagePath}}" onerror="this.src ='assets/images/no-image.jpg';"></td> -->
                <td>{{form._id }}</td>
                <td>{{form.tradingName}}</td>
                <!-- <td>{{form.textInputTwo}}</td> -->
                <td>User: {{form.email}}</td>
                <td>{{form.dateSubmitted | date: 'medium'}}</td>
                <td>
                    <span *ngIf="form.dateSubmitted != form.updatedAt">{{form.updatedAt | date: 'medium'}}</span>
                </td>
                <td>
                    <button class="btn-default" [routerLink]="['view', form._id]"><i class="fa fa-eye"></i></button>
                </td>
                <!-- <td>
                    <button class="btn-danger" (click)="onDelete(form._id)"><i class="fa fa-trash"></i></button>
                </td> -->
            </tr>
        </tbody>
    </table>
</div>