a.active {
  font-weight: bold;
}

.table-responsive {
  border: 0;
}

.lostPassword {
  margin-top: 20px;
}

.form-control {
  border-radius: 0;
}

.modal-content {
  border-radius: 0;
}

.modal-header {
  padding: 24px 30px;
  text-align: center;
  background-color: #1ABC9C;
  color: #fff;
}

.modal-header .close {
  font-size: 28px !important;
}

.modal-title {
  font-size: 19px;
}

