.top-nav-collapse {
    background-color: #fff !important;
}

.navbar:not(.top-nav-collapse) {
    background: #fff !important;
}

.navbar-brand {
    padding: 0;
    max-width: 120px;
}

.navbar.scrolling-navbar {
    padding-top: 0;
    padding-bottom: 5px
}

.logo {
    width: 100%
}

@media (max-width: 768px) {
    .navbar-brand {
        padding: 0;
        max-width: 120px;
    }
}

h5 {
    letter-spacing: 3px;
}

.jarallax {
    height: 1000px;
}

@media (max-width: 740px) {
    .jarallax {
        height: 300px;
    }
}

@media (min-width: 769px) and (max-width: 1025px) {
    .jarallax {
        height: 500px;
    }
}

@media (max-width: 768px) {
    .navbar-brand {
        max-width: 85px;
    }
}

.intro-2 {
    background: url("./assets/banner.jpg") no-repeat center center;
    background-size: cover;
}

.top-nav-collapse {
    background-color: transparent !important;
}

.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}

@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background: transparent !important;
    }
}

.custom-gradient .full-bg-img {
    background-color: rgba(73, 80, 87, 0.78);
}

.card-transparent {
    background: rgba(0, 0, 0, 0.8);
}

// .md-form .prefix {
//     font-size: 1.5rem;
// }
.md-form label {
    color: #ffffff;
}

h6 {
    line-height: 1.7;
}

// @media (max-width: 740px) {
//     .full-height,
//     .full-height body,
//     .full-height header,
//     .full-height header .view {
//         height: 1040px;
//     }
// }
.navbar-dark .navbar-brand {
    color: #fff;
    position: absolute;
    top: 0;
}

.view {
    height: 100vh !important;
    width: 100vw;
}