.marg-top-none {
    margin-top: 0 !important;
}

.clearfix {
    clear: both;
    display: block;
    overflow: hidden;
}

.pad-top-header {
    padding-top: 120px;
}

.pad-top-10 {
    padding-top: 10px;
}

input.ng-touched.ng-invalid,
textarea.ng-touched.ng-invalid,
select.ng-touched.ng-invalid {
    border-color: #dc3545;
}

.btn:focus,
button:focus {
    outline: none !important;
}


/* Change Autocomplete styles in Chrome*/

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    //   border: .;
    -webkit-text-fill-color: #000;
    -webkit-box-shadow: transparent;
    transition: background-color 5000s ease-in-out 0s;
}

.btn.focus,
.btn:focus {
    outline: 0;
    -webkit-box-shadow: 0;
    box-shadow: 0;
}

.btn.disabled,
.btn:disabled {
    opacity: 0.35;
    background-color: rgba(128, 128, 128, 0.7803921568627451) !important;
    cursor: not-allowed !important;
    pointer-events: auto;
}