<form [formGroup]="regStep" class="row">
  <div class="col-twelve grid">
      <div class="reg-header-width">
        <h3>{{resourceStrings?.PersonalData || 'Personal Data'}}</h3>
      </div>
    </div>
  <div class="col-six grid">
      <div class="row reg-input-width">
          <div class="col-twelve grid">
              <label for="CountryCode" class="d-block">{{resourceStrings?.CountryOfResidence || 'Country Of Residence'}}</label>
              <ng-container *ngIf="!countriesLoad; else emptyBar">
              <span class="input-group">
                  <select formControlName="CountryCode" name="CountryCode">
                      <option *ngFor="let country of countryList" [value]="country.CC3">{{country.CN}}</option>
                    </select>
                    <span class="btn-input-dropdown"></span>
              </span>
              </ng-container>
              <ng-template #emptyBar>
               <span class="input-group">
                  <select>
                      <option>Loading...</option>
                    </select>
                    <span class="btn-input-dropdown"></span>
               </span>
              </ng-template>
              <span class="form-text-danger" *ngIf="regStep.get('CountryCode').hasError('required') && regStep.get('CountryCode').touched">
                {{resourceStrings?.PleaseEnterCountry || 'Please select the country you stay in.'}}
              </span>
              <label for="StateProvince" class="d-block">{{resourceStrings?.ProvinceOfResidence || 'Province of Residence'}}</label>
              <ng-container *ngIf="!countriesLoad; else emptyBar">
              <span class="input-group">
                  <select formControlName="StateProvince" name="StateProvince">
                      <option *ngFor="let province of provinceList" [value]="province.StateLongCode">{{province.StateName}}</option>
                    </select>
                    <span class="btn-input-dropdown"></span>
              </span>
              </ng-container>
          
              <label for="Address1" class="d-block">{{resourceStrings?.Address || 'Address'}}</label>
              <input formControlName="Address1" name="Address1" type="text" />
              <span class="form-text-danger" *ngIf="regStep.get('Address1').hasError('required') && regStep.get('Address1').touched">
                {{resourceStrings?.PleaseEnterPostal || 'Please enter your postal address.'}}
              </span>
              <ng-template #emptyBar>
               <span class="input-group">
                  <select formControlName="countryOfBirth" name="countryOfBirth">
                      <option>Loading...</option>
                    </select>
                    <span class="btn-input-dropdown"></span>
               </span>
              </ng-template>
          </div>
          </div>
  </div>
  <div class="col-six grid">
      <div class="row reg-input-width">
          <div class="col-twelve grid">
              <label for="City" class="d-block">{{resourceStrings?.City || 'City'}}</label>
              <input formControlName="City" name="City" type="text" />
              <span class="form-text-danger" *ngIf="regStep.get('City').hasError('required') && regStep.get('City').touched">
                {{resourceStrings?.PleaseEnterCity || 'Please enter the city you stay in.'}}
              </span>
              <label for="ZipPostalCode" class="d-block">{{resourceStrings?.PostalCode || 'Postal Code'}}</label>
              <input formControlName="ZipPostalCode" name="ZipPostalCode" type="text" />
              <span class="form-text-danger" *ngIf="regStep.get('ZipPostalCode').hasError('required') && regStep.get('ZipPostalCode').touched">
                {{resourceStrings?.PleaseEnterPostalCode || 'Please enter a valid Zip/Postal Code.'}}
              </span>
              <label for="PhoneMobile" class="d-block">{{resourceStrings?.TelephoneNumber || 'Telephone'}}</label>
              <span class="input-group">
                  <input class="input-padding" formControlName="PhoneMobile" name="PhoneMobile" type="text" />
                  <input class="select-label" formControlName="InternationalDialingCode" name="InternationalDialingCode" type="number" />
              </span>
              <span class="form-text-danger" *ngIf="regStep.get('PhoneMobile').hasError('required') && regStep.get('PhoneMobile').touched">
                {{resourceStrings?.PleaseValidTelephone || 'Please enter a valid telephone number.'}}
                </span>
              <label for="EmailAddress" class="d-block">{{resourceStrings?.Email || 'Email'}}</label>
              <input formControlName="EmailAddress" name="EmailAddress" type="email" />
              <span class="form-text-danger" *ngIf="regStep.get('EmailAddress').hasError('email') && regStep.get('EmailAddress').touched">
                {{resourceStrings?.PleaseValidEmail || 'Please enter a valid e-mail address.'}} 
              </span>
            </div>
            </div>
  </div>
</form>

