<div class="card spacing-bottom" *ngFor="let form of fetchedForm">
    <!--Header-->
    <div class="card-header" data-background-color="charcoal">
        <h4 class="title">Vendor: {{form.tradingName}} </h4>
        <p class="category">All details</p>
    </div>
    <div class="card-content">
                <app-tabs #t>
                    <app-tab title="Company Information">                           
                            <div class="display-block clearfix bor-pad">
                               <div class="display-tb">
                                    <span class="display-block head">Trading Name:</span>
                                    {{form.tradingName}}
                               </div>
                               <div class="display-tb">
                                    <span class="display-block head">Registered Name:</span>
                                    {{form.registeredCompanyName}}
                               </div>
                               <div class="display-tb">
                                    <span class="display-block head">Registration Number</span>
                                    {{form.registrationNumber}}
                               </div>
                               <div class="display-tb">
                                    <span class="display-block head">Vat Number</span>
                                    {{form.vatNumber}}
                               </div>
                            </div>

                            <div class="display-block clearfix bor-pad">
                               <div class="display-tb">
                                    <span class="display-block head">Physical Address:</span>
                                    {{form.physicalAddress}}
                               </div>
                               <div class="display-tb">
                                    <span class="display-block head">Postal Address:</span>
                                    {{form.postalAddress}}
                               </div>
                               <div class="display-tb">
                                    <span class="display-block head">Work Telephone</span>
                                    {{form.tel}}
                               </div>
                               <div class="display-tb">
                                    <span class="display-block head">Fax Number</span>
                                    {{form.faxNo}}
                               </div>
                            </div>
                            <div class="display-block clearfix bor-pad">
                               <div class="display-tb">
                                    <span class="display-block head">Business Sector:</span>
                                    {{form.serviceProduct}}
                               </div>
                               <div class="display-tb">
                                    <span class="display-block head">Type of business:</span>
                                    {{form.typeofBusiness}}
                               </div>
                               <div class="display-tb">
                                    <span class="display-block head">BBBEE Level:</span>
                                    {{form.BBBEELevel}}
                               </div>
                            </div>
                            <div class="display-block spacing-top">
                                    <span class="float-right deep-orange-text display-block" (click)="t.selectTab(1)">Next <i class="fa fa-angle-right"></i></span>
                            </div>                            
                           
                    </app-tab>
                    <app-tab title="Correspondence">
                            <div class="display-block clearfix bor-pad">
                                    <div class="display-tb">
                                         <span class="display-block head">Accounts Person Name:</span>
                                         {{form.accPersonName}}
                                    </div>
                                    <div class="display-tb">
                                         <span class="display-block head">Accounts Person No:</span>
                                         {{form.accPersonNo}}
                                    </div>
                                    <div class="display-tb">
                                         <span class="display-block head">Accounts Person Fax:</span>
                                         {{form.accPersonFaxNo}}
                                    </div>
                                    <div class="display-tb">
                                         <span class="display-block head">Accounts Person Email:</span>
                                         {{form.accPersonEmail}}
                                    </div>
                                 </div>
                            <div class="display-block clearfix bor-pad">
                                    <div class="display-tb">
                                         <span class="display-block head">Sales Person Name:</span>
                                         {{form.salesPersonName}}
                                    </div>
                                    <div class="display-tb">
                                         <span class="display-block head">Sales Person No:</span>
                                         {{form.salesPersonNo}}
                                    </div>
                                    <div class="display-tb">
                                         <span class="display-block head">Sales Person Fax:</span>
                                         {{form.salesPersonFaxNo}}
                                    </div>
                                    <div class="display-tb">
                                         <span class="display-block head">Sales Person Email:</span>
                                         {{form.salesPersonEmail}}
                                    </div>
                                 </div>
                                 <div class="display-block spacing-top">
                                        <span class="float-right deep-orange-text display-block" (click)="t.selectTab(2)">Next <i class="fa fa-angle-right"></i></span>
                                        <span class="float-left deep-orange-text display-block" (click)="t.selectTab(0)"><i class="fa fa-angle-left"></i> Back</span>
                                </div>  
                    </app-tab>
                    <app-tab title="Rquired Documents">
                            <div class="clearfix bor-pad" *ngFor="let file of form.fileCollection">
                                    <div class="display-block border-bttom pad-lr">
                                            <span class="file-name display-inline">{{file}}</span>
                                            <a class="float-right btn btn-orange btn-xs" target="_blank" href="{{fileUrl}}/{{form.owner}}/{{file}}">View</a>
                                              <!-- Filled-in checkbox -->
                                        <div class="check-cent float-left">
                                                <input type="checkbox" checked id="inlineFormCheckbox99">
                                                <label for="inlineFormCheckbox99"></label>
                                       </div>
                                    </div>
                            </div>
                                <div class="spacing-top">
                                        <span class="float-left deep-orange-text display-block" (click)="t.selectTab(0)"><i class="fa fa-angle-left"></i> Back</span>
                                </div>
                    </app-tab>
                </app-tabs>

                <!-- Button -->
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" (click)="approve(form.owner)" class="btn btn-orange btn-sm text-center">Approve</button>
                        <button type="button" (click)="disApprove(form.owner)" name="sumbitForm" class="btn btn-grey btn-sm text-center">Disaprove</button>
                    </div>
                </div>
    </div>
</div>