<div class="pad-top-header">
        <div class="main-content">
            <div class="container-fluid">
                <div class="col-sm-12">  
                    <div class="card spacing-bottom" *ngFor="let form of fetchedForm">
                        <div class="card-header" data-background-color="red">
                            <h4 class="title">Vendor: {{form.tradingName}} </h4>
                        </div>
                        <div class="card-content table-responsive table-full-width">
                            <table class="table">
                                <thead class="text-danger">
                                    <th>Company Information</th>
                                    <th>Correspondecne</th>
                                    <th>Documents</th>
                                    <th>Received</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Trading Name: {{form.tradingName}}</td>
                                        <td>Acc PersonName: {{form.accPersonName}}</td>
                                        <td>Doc: Customer General Terms and Conditions of Supply</td>
                                        <td width="30">
                                            <!-- Filled-in checkbox -->
                                            <div class="form-group mr-3">
                                                <input type="checkbox" checked id="inlineFormCheckbox1">
                                                <label for="inlineFormCheckbox1"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Registered Name: {{form.tradingName}}</td>
                                        <td>Acc Person No: {{form.accPersonNo}}</td>
                                        <td>Doc: BEE Certificate</td>

                                        <td width="30">
                                            <!-- Filled-in checkbox -->
                                            <div class="form-group mr-3">
                                                <input type="checkbox" checked id="inlineFormCheckbox2">
                                                <label for="inlineFormCheckbox2"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Physical Address: {{form.physicalAddress}}</td>
                                        <td>Acc Person Fax No: {{form.accPersonFaxNo}}</td>
                                        <td>Doc: Letter of Good Standing</td>
                                        <td width="30">
                                            <!-- Filled-in checkbox -->
                                            <div class="form-group mr-3">
                                                <input type="checkbox" checked id="inlineFormCheckbox3">
                                                <label for="inlineFormCheckbox3"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Postal Address: {{form.postalAddress}}</td>
                                        <td>Acc Person Email: {{form.accPersonEmail}}</td>
                                        <td>Doc: Audited latest Financial Statements</td>
                                        <td width="30">
                                            <!-- Filled-in checkbox -->
                                            <div class="form-group mr-3">
                                                <input type="checkbox" checked id="inlineFormCheckbox4">
                                                <label for="inlineFormCheckbox4"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Tel: {{form.tel}}</td>
                                        <td>Sales Person Name: {{form.salesPersonName}}</td>
                                        <td>Doc: Proof of Banking Details</td>
                                        <td width="30">
                                            <!-- Filled-in checkbox -->
                                            <div class="form-group mr-3">
                                                <input type="checkbox" checked id="inlineFormCheckbox5">
                                                <label for="inlineFormCheckbox5"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Fax: {{form.faxNo}}</td>
                                        <td>Sales Person No: {{form.salesPersonNo}}</td>
                                        <td>Doc: Company Letterhead</td>
                                        <td width="30">
                                            <!-- Filled-in checkbox -->
                                            <div class="form-group mr-3">
                                                <input type="checkbox" checked id="inlineFormCheckbox6">
                                                <label for="inlineFormCheckbox6"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Website: {{form.website}}</td>
                                        <td>Sales Person FaxNo: {{form.salesPersonFaxNo}}</td>
                                        <td>Doc: Tax Certificate</td>
                                        <td width="30">
                                            <!-- Filled-in checkbox -->
                                            <div class="form-group mr-3">
                                                <input type="checkbox" checked id="inlineFormCheckbox7">
                                                <label for="inlineFormCheckbox7"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Vat Number: {{form.vatNumber}}</td>
                                        <td>Sales Person Email: {{form.salesPersonEmail}}</td>
                                        <td>Doc: MCC Certificate</td>
                                        <td width="30">
                                            <!-- Filled-in checkbox -->
                                            <div class="form-group mr-3">
                                                <input type="checkbox" checked id="inlineFormCheckbox8">
                                                <label for="inlineFormCheckbox8"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;&nbsp;&nbsp;</td>
                                        <td>&nbsp;&nbsp;&nbsp;</td>
                                        <td>Doc: Declaration of possible conflict of Interest with Clinix Health Group (CHG)</td>
                                        <td width="30">
                                            <!-- Filled-in checkbox -->
                                            <div class="form-group mr-3">
                                                <input type="checkbox" checked id="inlineFormCheckbox88">
                                                <label for="inlineFormCheckbox88"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;&nbsp;&nbsp;</td>
                                        <td>&nbsp;&nbsp;&nbsp;</td>
                                        <td>Doc: identity Documents</td>
                                        <td width="30">
                                            <!-- Filled-in checkbox -->
                                            <div class="form-group mr-3">
                                                <input type="checkbox" checked id="inlineFormCheckbox9">
                                                <label for="inlineFormCheckbox9"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;&nbsp;&nbsp;</td>
                                        <td>&nbsp;&nbsp;&nbsp;</td>
                                        <td>Doc: Product price lists </td>
                                        <td width="30">
                                            <!-- Filled-in checkbox -->
                                            <div class="form-group mr-3">
                                                <input type="checkbox" checked id="inlineFormCheckbox99">
                                                <label for="inlineFormCheckbox99"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <button class="btn btn-primary" disabled [routerLink]="['view', form._id]"><i class="fa fa-check"></i>Aprove</button>
                                        </td>
                                        <td>
                                            <button class="btn btn-danger" disabled (click)="onDelete(form._id)"><i class="fa fa-trash"></i>Disaprove</button>
                                        </td>
                                        <td>&nbsp;&nbsp;&nbsp;</td>
                                        <td>&nbsp;&nbsp;&nbsp;</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
