<div class="container topPad">
    <!-- <form [formGroup]="myForm" (ngSubmit)="submitEditedForm()" *ngFor="let form of fetchedForm" class="form-horizontal register-form" novalidate>
        <fieldset>
            <legend class="text-center topPad">Edit Form with id: {{form._id}}</legend>
            <div class="form-group">
                <label class="col-md-4 control-label" for="textInputOne">Text Input One:</label>
                <div class="col-md-4">
                    <input id="textInputOne" #textOne formControlName="textInputOne" name="textInputOne" type="text" [(ngModel)]="form.textInputOne" class="form-control input-md">
                    <div [hidden]="textInputOne.valid || textInputOne.pristine" class="alert alert-danger">Please enter some text</div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="textInputTwo">Text Input Two:</label>
                <div class="col-md-4">
                    <input id="textInputTwo" formControlName="textInputTwo" name="textInputTwo" type="text" [(ngModel)]="form.textInputTwo" class="form-control input-md">
                    <div [hidden]="textInputTwo.valid || textInputTwo.pristine" class="alert alert-danger">Please enter some text</div>
                </div>
            </div>

            image
            <div class="form-group">
                <div class="col-md-4 col-centered">
                    <div class="profilePictureTempEdit">
                        <button *ngIf="submitStarted" class="disabled btn-no-hover btn btn-default centered progress-button">
              <i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Please wait... <span class="progress-percent">{{progress}}%</span>
            </button>
                        <div class="text-center top-margin">
                            <div class="profilePictureTempEdit" *ngIf="oldImage">
                                <img class="img-responsive" src="./uploads/forms/{{form.owner}}/{{form.imagePath}}" alt="image" onerror="this.src ='assets/images/no-image.jpg';">
                                <div class="upload-button" *ngIf="!imageReady">
                                    <input type="file" name="file-1" id="file-1" class="inputfile4 inputfile-4" (change)="onFileSelect($event)">
                                    <label for="file-1">
                <span>
                </span>
                  </label>
                                </div>
                            </div>
                            <div class="profilePictureTempEdit">
                                <img *ngIf="imageReady" #image class="img-responsive" src="{{imageUrl}}{{imagePath}}" alt="image" onerror="this.src ='assets/images/no-image.jpg';" />
                                <div class="upload-button">
                                    <input type="file" name="file-2" id="file-2" class="inputfile4 inputfile-4" (change)="onFileSelect($event)">
                                    <label for="file-2">
                  <span>
                  </span>
                  </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

    <!-- Submit Button -->
    <!-- <div class="form-group">
                <div class="col-md-4 col-centered">
                    <button type="submit" [disabled]="!myForm.valid && myForm.untouched" id="submitForm" name="sumbitForm" class="btn btn-primary text-center bottomMargin">Submit</button>
                    <button type="button" class="btn btn-warning" (click)="cancel()">Cancel</button>
                </div>
            </div>
        </fieldset>
    </form> -->


    <!--////////////////////////////////////////////////-->
    <div class="pad-top-header">
        <div class="main-content">
            <div class="container-fluid">
                <div class="col-sm-12">
                    <h4 class="title">Welcome Admin
                    </h4>
                    <p class="category">List of Registered Users And Their Details</p>
                    <div class="card" *ngFor="let form of fetchedForm">
                        <div class="card-header" data-background-color="red">
                            <h4 class="title">User: {{form.tradingName}}
                            </h4>
                        </div>
                        <div class="card-content table-responsive table-full-width">

                            <table class="table">
                                <thead class="text-danger">
                                    <th>Company Information</th>
                                    <th>Correspondecne</th>
                                    <th>Documents</th>
                                    <th>Received</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Trading Name: {{form.tradingName}}</td>
                                        <td>Acc PersonName: {{form.accPersonName}}</td>
                                        <td>Doc: Customer General Terms and Conditions of Supply</td>
                                        <td width="30">
                                            <!-- Filled-in checkbox -->
                                            <div class="form-group mr-3">
                                                <input type="checkbox" id="inlineFormCheckbox1">
                                                <label for="inlineFormCheckbox1"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Registered Name: {{form.tradingName}}</td>
                                        <td>Acc Person No: {{form.accPersonNo}}</td>
                                        <td>Doc: BEE Certificate</td>

                                        <td width="30">
                                            <!-- Filled-in checkbox -->
                                            <div class="form-group mr-3">
                                                <input type="checkbox" id="inlineFormCheckbox2">
                                                <label for="inlineFormCheckbox2"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Physical Address: {{form.physicalAddress}}</td>
                                        <td>Acc Person Fax No: {{form.accPersonFaxNo}}</td>
                                        <td>Doc: Letter of Good Standing</td>
                                        <td width="30">
                                            <!-- Filled-in checkbox -->
                                            <div class="form-group mr-3">
                                                <input type="checkbox" id="inlineFormCheckbox3">
                                                <label for="inlineFormCheckbox3"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Postal Address: {{form.postalAddress}}</td>
                                        <td>Acc Person Email: {{form.accPersonEmail}}</td>
                                        <td>Doc: Audited latest Financial Statements</td>
                                        <td width="30">
                                            <!-- Filled-in checkbox -->
                                            <div class="form-group mr-3">
                                                <input type="checkbox" id="inlineFormCheckbox4">
                                                <label for="inlineFormCheckbox4"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Tel: {{form.tel}}</td>
                                        <td>Sales Person Name: {{form.salesPersonName}}</td>
                                        <td>Doc: Proof of Banking Details</td>
                                        <td width="30">
                                            <!-- Filled-in checkbox -->
                                            <div class="form-group mr-3">
                                                <input type="checkbox" id="inlineFormCheckbox5">
                                                <label for="inlineFormCheckbox5"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Fax: {{form.faxNo}}</td>
                                        <td>Sales Person No: {{form.salesPersonNo}}</td>
                                        <td>Doc: Company Letterhead</td>
                                        <td width="30">
                                            <!-- Filled-in checkbox -->
                                            <div class="form-group mr-3">
                                                <input type="checkbox" id="inlineFormCheckbox6">
                                                <label for="inlineFormCheckbox6"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Website: {{form.website}}</td>
                                        <td>Sales Person FaxNo: {{form.salesPersonFaxNo}}</td>
                                        <td>Doc: Tax Certificate</td>
                                        <td width="30">
                                            <!-- Filled-in checkbox -->
                                            <div class="form-group mr-3">
                                                <input type="checkbox" id="inlineFormCheckbox7">
                                                <label for="inlineFormCheckbox7"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Vat Number: {{form.vatNumber}}</td>
                                        <td>Sales Person Email: {{form.salesPersonEmail}}</td>
                                        <td>Doc: MCC Certificate</td>
                                        <td width="30">
                                            <!-- Filled-in checkbox -->
                                            <div class="form-group mr-3">
                                                <input type="checkbox" id="inlineFormCheckbox8">
                                                <label for="inlineFormCheckbox8"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;&nbsp;&nbsp;</td>
                                        <td>&nbsp;&nbsp;&nbsp;</td>
                                        <td>Doc: Declaration of possible conflict of Interest with Clinix Health Group (CHG)</td>
                                        <td width="30">
                                            <!-- Filled-in checkbox -->
                                            <div class="form-group mr-3">
                                                <input type="checkbox" id="inlineFormCheckbox88">
                                                <label for="inlineFormCheckbox88"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;&nbsp;&nbsp;</td>
                                        <td>&nbsp;&nbsp;&nbsp;</td>
                                        <td>Doc: identity Documents</td>
                                        <td width="30">
                                            <!-- Filled-in checkbox -->
                                            <div class="form-group mr-3">
                                                <input type="checkbox" id="inlineFormCheckbox9">
                                                <label for="inlineFormCheckbox9"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;&nbsp;&nbsp;</td>
                                        <td>&nbsp;&nbsp;&nbsp;</td>
                                        <td>Doc: Product price lists </td>
                                        <td width="30">
                                            <!-- Filled-in checkbox -->
                                            <div class="form-group mr-3">
                                                <input type="checkbox" id="inlineFormCheckbox99">
                                                <label for="inlineFormCheckbox99"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <button class="btn btn-primary" disabled [routerLink]="['view', form._id]"><i class="fa fa-check"></i>Aprove</button>
                                        </td>
                                        <td>
                                            <button class="btn btn-danger" disabled (click)="onDelete(form._id)"><i class="fa fa-trash"></i>Disaprove</button>
                                        </td>
                                        <td>&nbsp;&nbsp;&nbsp;</td>
                                        <td>&nbsp;&nbsp;&nbsp;</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>


</div>