<section>
    <modal #login>
        <div clas="modal-dialogue">
            <modal-header [show-close]="true" class="text-white">
                <span class="close-text">Close</span>
            </modal-header>
            <modal-body>
                <div class="card wow fadeInRight" data-wow-delay="0.3s">
                    <app-login></app-login>
                </div>
            </modal-body>
        </div>
    </modal>
    <modal #register>
        <div clas="modal-dialogue">
            <modal-header [show-close]="true" class="text-white">
                <span class="close-text">Close</span>
            </modal-header>
            <modal-body>
                <div class="card wow fadeInRight" data-wow-delay="0.3s">
                    <app-register></app-register>
                </div>
            </modal-body>
        </div>
    </modal>
</section>