<div class="container pad-top-header">
    <section class="flex-center">
        <div class="card" style="width: 28rem;">
            <div class="card-body">
                <!--Header-->
                <div class="form-header bg-deep-orange ">
                    <h3><i class="fa fa-user-plus"></i> Register:</h3>
                </div>
                <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="clearfix" novalidate>
                    <!--Body-->
                    <div class="md-form ">
                        <i class="fa fa-envelope prefix grey-text"></i>
                        <input #userEmail type="text" formControlName="email" placeholder="Email" class="form-control">
                        <span [hidden]="email.valid || email.pristine" class="help-block text-danger">Please enter a valid email format</span>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-key prefix grey-text"></i>
                        <input type="password" formControlName="password" placeholder="Password" class="form-control">
                        <span [hidden]="password.valid || password.pristine" class="help-block text-danger">Password must contain 6 or more characters</span>
                    </div>
                    <div class="md-form">
                        <i class="fa fa-key prefix grey-text"></i>
                        <input class="form-control" placeholder="Confirm Password" type="password" formControlName="confirmPassword" name="confirmPassword" />
                        <span *ngIf="myForm.get('confirmPassword').hasError('passwordMatch') && myForm.get('confirmPassword').touched" class="help-block text-danger">Passwords do not match</span>
                    </div>

                    <div class="text-center">
                        <button [disabled]="!myForm.valid" class="btn btn-deep-orange btn-block waves-effect waves-light" type="submit">
                                    <span *ngIf="!loading">Register <i class="fa fa-user-plus"></i></span>
                                     <span *ngIf="loading">
                                            <app-loader></app-loader>
                                     </span>
                            </button>

                    </div>
                </form>
            </div>

            <!--Footer-->
            <div class="modal-footer">
                <div class="options">
                    <p>Already have an account <a class="deep-orange-text" routerLink="/user/login">Login</a></p>
                    <!-- <p>Lost password? <a class="deep-orange-text" [routerLink]="'/user/reset'">Reset here</a></p> -->
                </div>
            </div>
        </div>
    </section>
</div>