<div class="card card-profile">
    <div class="card-avatar">
        <a>
            <img class="img" src="../assets/images/vendor_profile.png" alt="image">
        </a>
    </div>
    <div class="content">
        <h6 class="category text-gray"></h6>
        <div *ngIf="!isAdmin()">
           <h4 class="card-title" *ngFor="let form of fetchedForms">
                {{form.tradingName}}
           </h4> 
        </div>
        <h4 class="card-title" *ngIf="isAdmin()">
           Administrator
        </h4>
        <h4 class="card-title"></h4>
        <div class="card-content">
           
        <div *ngFor="let user of fetchedUser">
                <b class="">Email </b> <br/>{{user.email}}
            </div>
        
            <div *ngIf="!isAdmin()">
            <div *ngFor="let form of fetchedForms">
                <b class="text-bold spacing-top display-block">Telephone</b> {{form.tel}}
            </div>
   
            <div *ngFor="let user of fetchedUser">
                <span *ngIf="user.forms.length > 0"><b class="text-bold spacing-top display-block">Status</b> Waiting approval</span>
            </div>
            </div>
        </div>

        <a routerLink (click)="logout()" class="btn btn-orange btn-round btn-sm spacing-bottom">Logout</a>
    </div>
</div>