<div class="row">
  <div class="col-six grid">
    <div class="regOfferLn6 registration-offer">
      <h3>START WINNING</h3>

      <h2>Make your first deposit:</h2>

      <h2>
        <strong>Get a 100% match</strong>
        <br> up to $250 free
        <br>
        <strong>+ 2,500 Rewards points</strong>
      </h2>
    </div>

  </div>
  <div class="col-six grid">    
    <div class="reg3Line1">Welcome&nbsp;
      <span id="RegistrationCompleteFirstName">Arnoldus</span>
    </div>
    <div class="reg3Line3 rememberYourLoginDetails">Remember your login details:</div>
    <div class="reg3Line3">
      <span class="reg3Line3block">
        <b>Username:</b>
        <span id="RegistrationCompleteUserName">arnoldussrv</span>
        <br>
        <b>Password:</b>
        <span id="RegistrationCompletePassword">casino12</span>
      </span>
    </div>
    <div class="reg3Line4">Make a first deposit today to receive your first deposit match bonus.</div>
    <div class="reg3But">
      <a href="/" api-reg-banking-click="api-reg-banking-click" class="reg3ClaimBut reg3Buttons blueButton">Continue</a>
    </div>
  </div>
</div>