@import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.5/css/mdb.min.css);
@media (min-width: 768px) {
    .col-md-12 {
        -ms-flex: auto;
        -webkit-box-flex: auto;
        -webkit-flex: auto;
        flex: auto;
        max-width: 100%;
    }
}

.form-header {
    color: #fff;
    text-align: center;
    margin-top: -40px;
    margin-bottom: 3rem;
    padding: 1rem;
    border-radius: 2px;
}

.form-header {
    margin-bottom: 0.5rem;
    padding: 0.2rem;
}

.help-block {
    display: block;
    margin-left: 3rem;
    margin-top: -15px;
    font-size: 0.8rem;
}

.btn-white {
    color: #ff5722 !important;
}

.btn.focus,
.btn:focus,
button:focus {
    outline: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}

textarea.md-textarea {
    min-height: 2rem;
    padding-top: 0.3rem;
}

.reg-card-width {
    width: 55rem
}

.btn {
    font-size: .8rem;
    padding: .85rem 2.13rem;
    margin: 6px 0;
    border-radius: 2px;
    border: 0;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    text-transform: uppercase;
    white-space: normal!important;
    word-wrap: break-word;
    cursor: pointer;
}

.jumbotron {
    background-color: rgba(233, 236, 239, 0.25882352941176473);
}

.nav-link {
    color: #333 !important;
}

.card .card-body h3 {
    margin: 0.6rem;
    font-size: 1.3rem;
}

.md-form .prefix {
    width: 2rem;
}

.label-text {
    margin-left: 1rem;
}

.md-form .prefix~input {
    margin-left: 3rem;
    width: 82% !important;
}

.file-field input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 1px;
    cursor: pointer;
    opacity: 0;
}

.file-field .file-path-wrapper {
    overflow: hidden;
    padding-left: 10px;
    height: 2.5rem;
}

.file-field .btn {
    float: left;
}

table.table td,
table.table th {
    max-width: 300px;
}

[type=checkbox],
[type=radio] {
    position: absolute;
    left: -9999px;
    visibility: hidden
}

[type=checkbox]+label,
[type=radio]+label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem
}

[type=radio]+label {
    -webkit-transition: .28s ease;
    transition: .28s ease
}

[type=radio]+label:after,
[type=radio]+label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 16px;
    height: 16px;
    z-index: 0;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    -webkit-transition: .28s ease;
    transition: .28s ease
}

[type=radio]:not(:checked)+label:after,
[type=radio]:not(:checked)+label:before {
    border-color: #5a5a5a
}

[type=radio]:not(:checked)+label:after {
    z-index: -1;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0)
}

[type=radio]:checked+label:before {
    border-color: transparent
}

[type=radio]:checked+label:after {
    border-color: #4285f4;
    background-color: #4285f4;
    z-index: 0;
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02)
}

[type=radio]:disabled+label {
    color: rgba(0, 0, 0, .46)
}

[type=radio]:disabled+label:before {
    background-color: transparent;
    border-color: rgba(0, 0, 0, .46)
}

[type=radio]:disabled:not(:checked)+label:before {
    border-color: rgba(0, 0, 0, .46)
}

[type=radio]:disabled:checked+label:after {
    background-color: rgba(0, 0, 0, .46);
    border-color: #bdbdbd
}

[type=radio].with-gap:checked+label:before {
    border-color: #4285f4
}

[type=radio].with-gap:checked+label:after {
    -webkit-transform: scale(.5);
    -ms-transform: scale(.5);
    transform: scale(.5)
}

[type=radio].with-gap:checked:disabled+label:before {
    border-color: rgba(0, 0, 0, .46)
}

[type=checkbox]+label:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
    z-index: 0;
    border: 1.5px solid #8a8a8a;
    border-radius: 1px;
    margin-top: 2px;
    -webkit-transition: .2s;
    transition: .2s
}

[type=checkbox]:checked+label:before {
    top: -4px;
    left: -3px;
    width: 12px;
    height: 22px;
    border-style: solid;
    border-width: 2px;
    border-color: transparent #4285f4 #4285f4 transparent;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%
}

[type=checkbox]:indeterminate+label:before {
    left: -10px;
    top: -11px;
    width: 10px;
    height: 22px;
    border: none;
    border-right: 2px solid #4285f4;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%
}

[type=checkbox]:disabled:checked+label:before {
    border-color: transparent rgba(0, 0, 0, .46) rgba(0, 0, 0, .46) transparent
}

[type=checkbox]:disabled:not(:checked)+label:before {
    border: none;
    margin-left: 2px;
    margin-top: 2px;
    background-color: rgba(0, 0, 0, .46)
}

[type=checkbox]:disabled:indeterminate+label:before {
    border-right: 2px solid rgba(0, 0, 0, .46);
    margin-left: 0;
    margin-top: 0;
    background-color: transparent
}

[type=checkbox][class*=filled-in]+label:after,
[type=checkbox][class*=filled-in]+label:before {
    content: "";
    left: 0;
    position: absolute;
    -webkit-transition: border .25s, background-color .25s, width .2s .1s, height .2s .1s, top .2s .1s, left .2s .1s;
    transition: border .25s, background-color .25s, width .2s .1s, height .2s .1s, top .2s .1s, left .2s .1s;
    z-index: 1;
    border-style: solid;
    border-width: 2px
}

[type=checkbox][class*=filled-in]+label:after {
    border-radius: 2px;
    height: 20px;
    width: 20px
}

[type=checkbox][class*=filled-in]+label:before {
    -webkit-transform: rotateZ(37deg);
    -ms-transform: rotate(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%
}

[type=checkbox][class*=filled-in]:not(:checked)+label:before {
    width: 0;
    height: 0;
    border-style: 3px;
    border-color: transparent;
    left: 6px;
    top: 10px
}

[type=checkbox][class*=filled-in]:not(:checked)+label:after {
    background-color: transparent;
    border-color: #5a5a5a;
    top: 0;
    z-index: 0
}

[type=checkbox][class*=filled-in]:checked+label:before {
    top: 0;
    left: 1px;
    width: 8px;
    height: 13px;
    border-color: transparent #fff #fff transparent
}

[type=checkbox][class*=filled-in]:checked+label:after {
    top: 0;
    border-color: #a6c;
    background-color: #a6c;
    z-index: 0
}

@media screen and (min-width: 568px) and (max-width: 736px) and (orientation: landscape) {
    .view .full-bg-img,
    .view .mask {
        overflow: auto !important;
        padding-top: 100px;
    }
    .jumbotron {
        padding: 1rem;
    }
}

@media (max-width: 425px) {
    .card-body {
        padding: 0;
    }
    .reg-card-width {
        width: 100%
    }
    .section {
        padding: 5px
    }
    .jumbotron {
        padding: 1rem 1rem;
        margin-bottom: 1rem;
    }
}