@import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.5/css/mdb.min.css);
@media (min-width: 768px) {
    .col-md-12 {
        -ms-flex: auto;
        -webkit-box-flex: auto;
        -webkit-flex: auto;
        flex: auto;
        max-width: 100%;
    }
}

.form-header {
    color: #fff;
    text-align: center;
    margin-top: -40px;
    margin-bottom: 3rem;
    padding: 1rem;
    border-radius: 2px;
}

.form-header {
    margin-bottom: 1rem;
}

.help-block {
    display: block;
    margin-left: 3rem;
    font-size: 0.8rem;
    color: red;
}

.btn-white {
    color: #ff5722 !important;
}

.btn.focus,
.btn:focus,
button:focus {
    outline: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}

textarea.md-textarea {
    min-height: 2rem;
    padding-top: 0.3rem;
}

.reg-card-width {
    width: 55rem
}

.btn {
    font-size: .8rem;
    padding: .85rem 2.13rem;
    margin: 6px 0;
    border-radius: 2px;
    border: 0;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    text-transform: uppercase;
    white-space: normal!important;
    word-wrap: break-word;
    cursor: pointer;
}

@media (max-width: 425px) {
    .card-body {
        padding: 0;
    }
    .flex-center {
        margin: 0 -15px;
    }
    .reg-card-width {
        width: 100%
    }
    .section {
        padding: 5px
    }
}