@import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.5/css/mdb.min.css);
@media (min-width: 768px) {
    .col-md-12 {
        -ms-flex: auto;
        -webkit-box-flex: auto;
        -webkit-flex: auto;
        flex: auto;
        max-width: 100%;
    }
}

.form-header {
    color: #fff;
    text-align: center;
    margin-top: -40px;
    margin-bottom: 3rem;
    padding: 1rem;
    border-radius: 2px;
}

.form-header {
    margin-bottom: 0.5rem;
    padding: 0.2rem;
}

.help-block {
    display: block;
    margin-left: 3rem;
    margin-top: -15px;
    font-size: 0.8rem;
}

.btn-white {
    color: #ff5722 !important;
}

.btn.focus,
.btn:focus,
button:focus {
    outline: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}

textarea.md-textarea {
    min-height: 2rem;
    padding-top: 0.3rem;
}

.reg-card-width {
    width: 55rem
}

.btn {
    font-size: .8rem;
    padding: .85rem 2.13rem;
    margin: 6px 0;
    border-radius: 2px;
    border: 0;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    text-transform: uppercase;
    white-space: normal!important;
    word-wrap: break-word;
    cursor: pointer;
}

.jumbotron {
    background-color: rgba(233, 236, 239, 0.25882352941176473);
}

.nav-link {
    color: #333 !important;
}

.card .card-body h3 {
    margin: 0.6rem;
    font-size: 1.3rem;
}

.md-form .prefix {
    width: 2rem;
}

.md-form .prefix~input {
    margin-left: 3rem;
    width: 82% !important;
}

.file-field input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 1px;
    cursor: pointer;
    opacity: 0;
}

.file-field .file-path-wrapper {
    overflow: hidden;
    padding-left: 10px;
    height: 2.5rem;
}

.file-field .btn {
    float: left;
}

@media screen and (min-width: 568px) and (max-width: 736px) and (orientation: landscape) {
    .view .full-bg-img,
    .view .mask {
        overflow: auto !important;
        padding-top: 100px;
    }
    .jumbotron {
        padding: 1rem;
    }
}

@media (max-width: 425px) {
    .card-body {
        padding: 0;
    }
    .reg-card-width {
        width: 100%
    }
    .section {
        padding: 5px
    }
    .jumbotron {
        padding: 1rem 1rem;
        margin-bottom: 1rem;
    }
}