<form [formGroup]="regStep" class="row">
  <div class="col-twelve grid">
    <div class="reg-header-width">
      <h3>{{resourceStrings?.PersonalData || 'Contact details'}}</h3>
    </div>
  </div>
  <div class="col-six grid">
    <div class="row reg-input-width">
      <div class="col-twelve grid">
        <label for="DocumentType">{{resourceStrings?.DocumentType || 'Document Type'}}</label>
        <span class="input-group">
          <select formControlName="DocumentType" name="DocumentType">
            <option *ngFor="let doc of docTypeList" [value]="doc.BSuppIdTypeId">{{doc.Name}}</option>
          </select>
          <span class="btn-input-dropdown"></span>
        </span>
        <span class="form-text-danger" *ngIf="regStep.get('DocumentType').hasError('required') && regStep.get('DocumentType').touched">
          {{resourceStrings?.PleaseValidIDType || 'Please select a valid ID Type'}}
        </span>
        <label for="IssuedBy">{{resourceStrings?.IssuedBy || 'Issued By'}}</label>
        <span class="input-group">
          <select formControlName="IssuedBy" name="IssuedBy">
            <option *ngFor="let dept of issuedByList" [value]="dept.BSuppIdTypeId">{{dept.Name}}</option>
          </select>
          <span class="btn-input-dropdown"></span>
        </span>
        <span class="form-text-danger" *ngIf="regStep.get('IssuedBy').hasError('required') && regStep.get('IssuedBy').touched">
          {{resourceStrings?.PleaseSelectIssuing || 'Please select Issuing Authority'}}
        </span>
        <label for="IdNumber">{{resourceStrings?.IDNumber || 'ID number'}}</label>
        <input formControlName="IdNumber" name="IdNumber" type="text" />
      </div>
    </div>
  </div>
  <div class="col-six grid">
    <div class="row reg-input-width">
      <div class="col-twelve grid">
        <label for="IssuedInLocality">{{resourceStrings?.IssuedInLocality || 'Issued in locality'}}</label>
        <input formControlName="IssuedInLocality" name="IssuedInLocality" type="text" />
        <span class="form-text-danger" *ngIf="regStep.get('IssuedInLocality').hasError('required') && regStep.get('IssuedInLocality').touched">
          {{resourceStrings?.EnterTheLocality || 'Enter the locality your ID was issued at'}}
        </span>
        <div class="row clear-gutter">
          <p class="col-twelve grid">{{resourceStrings?.ValidFrom || 'Valid from'}}:</p>
          <label for="validFDay" class="col-four grid xs">
            <span class="input-group">
              <select class="option-padding" formControlName="validFDay" name="validFDay">
                <option *ngFor="let day of dayArr" [value]="day">{{day}}</option>
              </select>
              <span class="btn-input-dropdown"></span>
              <span class="select-label">{{resourceStrings?.Day || 'Day' | slice:0:1}}</span>
            </span>
          </label>
          <label for="validFMonth" class="col-four grid xs">
            <span class="input-group">
              <select class="option-padding" formControlName="validFMonth" name="validFMonth">
                <option *ngFor="let month of monthArr" [value]="month">{{month}}</option>
              </select>
              <span class="btn-input-dropdown"></span>
              <span class="select-label">{{resourceStrings?.Month || 'Month' | slice:0:1}}</span>
            </span>
          </label>
          <label for="validFYear" class="col-four grid xs">
            <span class="input-group">
              <select class="option-padding" formControlName="validFYear" name="validFYear">
                <option *ngFor="let year of yearArr" [value]="year">{{year}}</option>
              </select>
              <span class="btn-input-dropdown"></span>
              <span class="select-label">{{resourceStrings?.Year || 'Year' | slice:0:1}}</span>
            </span>
          </label>
          <span class="form-text-danger col-twelve grid" *ngIf="(regStep.get('validFDay').hasError('required') && regStep.get('validFDay').touched) || (regStep.get('validFMonth').hasError('required') && regStep.get('validFMonth').touched) || (regStep.get('validFYear').hasError('required') && regStep.get('validFYear').touched)">
            {{resourceStrings?.PleaseValidDate || 'Please enter a valid date'}}
          </span>
        </div>
        <div class="row clear-gutter">
          <p class="col-twelve grid">{{resourceStrings?.ValidTo}}</p>
          <label for="validTDay" class="col-four grid xs">
            <span class="input-group">
              <select class="option-padding" formControlName="validTDay" name="validTDay">
                <option *ngFor="let day of dayArr" [value]="day">{{day}}</option>
              </select>
              <span class="btn-input-dropdown"></span>
              <span class="select-label">{{resourceStrings?.Day || 'Day' | slice:0:1}}</span>
            </span>
          </label>
          <label for="validTMonth" class="col-four grid xs">
            <span class="input-group">
              <select class="option-padding" formControlName="validTMonth" name="validTMonth">
                <option *ngFor="let month of monthArr" [value]="month">{{month}}</option>
              </select>
              <span class="btn-input-dropdown"></span>
              <span class="select-label">{{resourceStrings?.Month || 'Month' | slice:0:1}}</span>
            </span>
          </label>
          <label for="validTYear" class="col-four grid xs">
            <span class="input-group">
              <select class="option-padding" formControlName="validTYear" name="validTYear">
                <option *ngFor="let year of yearArr" [value]="year">{{year}}</option>
              </select>
              <span class="btn-input-dropdown"></span>
              <span class="select-label">{{resourceStrings?.Year || 'Year' | slice:0:1}}</span>
            </span>
          </label>
          <span class="form-text-danger col-twelve grid" *ngIf="(regStep.get('validTDay').hasError('required') && regStep.get('validTDay').touched) || (regStep.get('validTMonth').hasError('required') && regStep.get('validTMonth').touched) || (regStep.get('validTYear').hasError('required') && regStep.get('validTYear').touched)">
            {{resourceStrings?.PleaseValidDate || 'Please enter a valid date'}}
          </span>
        </div>
      </div>
    </div>
  </div>
</form>