<div class="row">
    <div class="col-md-8">
        <div class="col-6 card">
            <p>Hi {{currentUser.username}}</p>
            <p>{{currentUser.registeredCompanyName}}</p>
            <p>{{currentUser.registrationNumber}}</p>
            <p>{{currentUser.physicalAddress}}</p>
            <p>{{currentUser.postalAddress}}</p>
            <p>{{currentUser.tel}}</p>
            <p>{{currentUser.faxNo}}</p>
            <p>{{currentUser.website}}</p>
            <p>{{currentUser.vatNumber}}</p>
            <p>{{currentUser.accPersonName}}</p>
            <p>{{currentUser.accPersonNo}}</p>
            <p>{{currentUser.accPersonFaxNo}}</p>
            <p>{{currentUser.accPersonEmail}}</p>
            <p>{{currentUser.salesPersonName}}</p>
            <p>{{currentUser.salesPersonEmail}}</p>
            <p>{{currentUser.salesPersonFaxNo}}</p>
            <p>{{currentUser.documents}}</p>
            <ul>
                <li *ngFor="let user of users">
                    {{user.username}}
                    <!-- <button class="btn btn-danger" ></button> -->
                    <button type="button" (click)="deleteUser(user.id)" class="btn btn-primary">Delete</button>
                </li>
            </ul>
            <p><a [routerLink]="['/login']">Logout</a></p>
        </div>
        <div class="row">
            <div class="col-md-6">.col-md-6</div>
            <div class="col-md-6">.col-md-6</div>
        </div>
    </div>
    <div class="col-md-4">.col-md-4</div>
</div>