<div class="col-md-6 col-md-offset-3">
    <h1>Hi {{currentUser.tradingName}}!</h1>

    <ul>
        <li *ngFor="let user of users">
            Your details below;
            <h2>{{user.registeredCompanyName}}</h2>
            <h2>{{user.registrationNumber}}</h2>
            <h2>{{user.physicalAddress}}</h2>
            <h2>{{user.postalAddress}}</h2>
            <h2>{{user.tel}}</h2>
            <h2>{{user.faxNo}}</h2>
            <h2>{{user.website}}</h2>
            <h2>{{user.vatNumber}}</h2>
            <h2>{{user.accPersonName}}</h2>
            <h2>{{user.accPersonNo}}</h2>
            <h2>{{user.accPersonFaxNo}}</h2>
            <h2>{{user.accPersonEmail}}</h2>
            <h2>{{user.salesPersonName}}</h2>
            <h2>{{user.salesPersonEmail}}</h2>
            <h2>{{user.salesPersonFaxNo}}</h2>
            <h2>{{user.documents}}</h2>
            <button class="btn btn-danger" (click)="deleteUser(user.id)">Delete</button>
        </li>
    </ul>
    <p><a [routerLink]="['/login']">Logout</a></p>
</div>