<!-- Intro Section -->
<div class="view hm-white-light jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(https://mdbootstrap.com/img/Photos/Others/images/76.jpg);">
    <div class="full-bg-img">
        <div class="container flex-center">
            <div class="row pt-5 mt-3">
                <div class="col-md-12 mb-3">
                    <div class="intro-info-content text-center">
                        <h1 class="display-2 mb-5 white-text font-bold wow fadeInDown" data-wow-delay="0.3s">
                            <a class="deep-orange-text font-bold">Clinix Health Group</a>
                        </h1>
                        <a routerLink="/login" class="btn btn-deep-orange btn-lg wow fadeInDown" data-wow-delay="0.3s">Login to account <i class="fa fa-sign-in-alt"></i></a>
                        <a routerLink="/register" class="btn btn-white btn-lg deep-orange-text wow fadeInDown" data-wow-delay="0.3s">Register as a vendor <i class="fa fa-user-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>