<section class="view intro-2 custom-gradient rgba-gradient">
    <div class="full-bg-img">
        <div class="container flex-center">
            <div class="d-flex align-items-center content-height">
                <div class="row flex-center pt-5 mt-3">
                    <div class="col-md-10 text-center text-md-left mb-5">
                        <div class="white-text">
                            <h1 class="h1-responsive font-weight-bold wow fadeInLeft  mb-29" data-wow-delay="0.3s">Welcome to the Clinix Vendor Application Site</h1>
                            <h4 class="wow fadeInLeft spacing-bottom" data-wow-delay="0.3s">We want to ensure that we have sufficient appropriately qualified vendors to provide goods and services when required</h4>
                            <br>
                            <!-- <a appModal modal-open="login" *ngIf="!isLoggedIn()" routerLink="/user/login" class="btn btn-outline-white wow fadeInLeft" data-wow-delay="0.3s">Login to account <i class="fa fa-sign-in-alt"></i></a>
                          <a appModal modal-open="register" *ngIf="!isLoggedIn()" routerLink="/user/register" class="btn btn-outline-white wow fadeInLeft" data-wow-delay="0.3s">Register as a vendor <i class="fa fa-user-plus"></i></a> -->
                            <button class="btn btn-outline-white wow fadeInLeft spacing-right" data-wow-delay="0.3s">Login to account <i class="fa fa-sign-in-alt"></i></button>
                            <button class="btn btn-outline-white wow fadeInLeft spacing-left" data-wow-delay="0.3s">Register as a vendor <i class="fa fa-user-plus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="modal display-block">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a routerLink="/" class="close-text text-right">Close</a>
            </div>
            <div class="modal-body">
                <div class="card card-transparent">
                    <div class="card-body">
                        <!--Header-->
                        <div class="text-header">
                            <h4 class="white-text"><i class="fa fa-user white-text"></i> Forgot Password:</h4>
                        </div>
                        <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="login-form form" novalidate>
                            <h5 class="text-center white-text">Please fill in your email and we will send you an email containing password reset instructions.</h5>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                                <input #userEmail type="text" formControlName="email" placeholder="Email" class="form-control" autofocus autocapitalize="none" autocomplete="off" spellcheck="false" autocorrect="none">
                            </div>
                            <div [hidden]="email.valid || email.pristine" class="alert alert-danger">Please enter a valid email</div>
                            <span class="help-block"></span>
                            <button class="btn btn-lg btn-primary btn-block margin-top" type="submit" [disabled]="!myForm.valid">Submit</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>