<div class="container pad-top-header">
    <div class="flex-center">
        <div class="card reg-card-width">
            <div class="card-body">
                <!--Header-->
                <div class="form-header bg-deep-orange ">
                    <h3><i class="fa fa-user"></i> REGISTER:</h3>
                </div>
                <alert></alert>
                <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
                    <app-tabs #t>
                        <app-tab title="Company Information">
                            <!-- Reg step 1 -->
                            <div class="row">
                                <!--Trading Name-->
                                <div class="col-md-6">
                                    <div class="clearfix pad-top-10">
                                        <div class="md-form" [ngClass]="{ 'has-error': f.submitted && !tradingName.valid }">
                                            <i class="fa fa-building prefix grey-text"></i>
                                            <input placeholder="Trading Name" name="tradingName" type="text" [(ngModel)]="model.tradingName" #tradingName="ngModel" required/>
                                            <!-- <label  for="tradingName">Trading Name</label> -->
                                            <span *ngIf="f.submitted && !tradingName.valid" class="help-block">Trading Name is required</span>
                                        </div>
                                    </div>
                                </div>
                                <!--Company Name-->
                                <div class="col-md-6">
                                    <div class="clearfix pad-top-10">
                                        <div class="md-form" [ngClass]="{ 'has-error': f.submitted && !registeredCompanyName.valid }">
                                            <i class="fa fa-building prefix grey-text"></i>
                                            <input placeholder="Registered Company Name" name="registeredCompanyName" type="text" [(ngModel)]="model.registeredCompanyName" #registeredCompanyName="ngModel" />
                                            <!-- <label for="registeredCompanyName">Registered Company Name</label> -->
                                            <span *ngIf="f.submitted && !registeredCompanyName.valid" class="help-block">Company Name is required</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!--Registration Number-->
                                <div class="col-md-6">
                                    <div class="clearfix pad-top-10">
                                        <div class="md-form" [ngClass]="{ 'has-error': f.submitted && !registrationNumber.valid }">
                                            <i class="fa fa-edit prefix grey-text"></i>
                                            <input placeholder="Registration Number" name="registrationNumber" type="text" [(ngModel)]="model.registrationNumber" #registrationNumber="ngModel" required />
                                            <!-- <label for="registrationNumber">Registration Number</label> -->
                                            <span *ngIf="f.submitted && !registrationNumber.valid" class="help-block">Registration Number is required</span>
                                        </div>
                                    </div>
                                </div>
                                <!--confirm Registration Number-->
                                <div class="col-md-6">
                                    <div class="clearfix pad-top-10">
                                        <div class="md-form" [ngClass]="{ 'has-error': f.submitted && !confirmRegNumber.valid }">
                                            <i class="fa fa-edit prefix grey-text"></i>
                                            <input placeholder="confirm Registration Number" type="text" name="confirmRegNumber" [(ngModel)]="model.confirmRegNumber" #confirmRegNumber="ngModel" />
                                            <!-- <label for="confirmRegNumber">confirm Registration Number</label> -->
                                            <span *ngIf="f.submitted && !confirmRegNumber.valid" class="help-block">Registration Numbers do not match</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!--Address-->
                                <div class="col-md-12">
                                    <div class="md-form">
                                        <i class="far fa-address-card prefix grey-text"></i>
                                        <textarea placeholder="Physical Address" type="text" name="physicalAddress" class="md-textarea" [(ngModel)]="model.physicalAddress" #physicalAddress="ngModel" required></textarea>
                                        <!-- <label for="physicalAddress">Physical Address</label> -->
                                        <span *ngIf="f.submitted && !physicalAddress.valid" class="help-block">Physical Address is required</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!--Postal Address-->
                                <div class="col-md-12">
                                    <div class="md-form">
                                        <i class="far fa-address-card prefix grey-text"></i>
                                        <textarea type="text" placeholder="Postal Address" name="postalAddress" class="md-textarea" [(ngModel)]="model.postalAddress" #postalAddress="ngModel" required></textarea>
                                        <!-- <label for="postalAddress">Postal Address</label> -->
                                        <span *ngIf="f.submitted && !postalAddress.valid" class="help-block">Postal Address is required</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!--Phone Number-->
                                <div class="col-md-6">
                                    <div class="md-form">
                                        <i class="fa fa-phone prefix grey-text"></i>
                                        <input placeholder="Telephone Number" type="text" name="tel" [(ngModel)]="model.tel" #tel="ngModel" required/>
                                        <!-- <label for="tel">Telephone Number</label> -->
                                        <span *ngIf="f.submitted && !tel.valid" class="help-block">Phone Number is required</span>
                                    </div>
                                </div>

                                <!--Fax Number-->
                                <div class="col-md-6">
                                    <div class="md-form">
                                        <i class="fa fa-fax prefix grey-text"></i>
                                        <input placeholder="Fax Number" type="text" name="faxNo" [(ngModel)]="model.faxNo" #faxNo="ngModel" required/>
                                        <!-- <label for="faxNo">Fax Number</label> -->
                                        <span *ngIf="f.submitted && !faxNo.valid" class="help-block">Fax number is required</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!--Website-->
                                <div class="col-md-12">
                                    <div class="md-form">
                                        <i class="fa fa-globe prefix grey-text"></i>
                                        <textarea placeholder="Website" type="text" name="website" class="md-textarea" [(ngModel)]="model.website" #website="ngModel"></textarea>
                                        <!-- <label for="website">Website</label> -->
                                        <span *ngIf="f.submitted && !website.valid" class="help-block">Website is required</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!--Vat Number-->
                                <div class="col-md-6">
                                    <div class="md-form">
                                        <i class="fa fa-tag prefix grey-text"></i>
                                        <input placeholder="Vat Number" type="text" name="vatNumber" [(ngModel)]="model.vatNumber" #vatNumber="ngModel" required/>
                                        <!-- <label for="vatNumber">Vat Number</label> -->
                                        <span *ngIf="f.submitted && !vatNumber.valid" class="help-block">VatNumber is required</span>
                                    </div>
                                </div>

                                <!--Confirm Vat Number-->
                                <div class="col-md-6">
                                    <div class="md-form">
                                        <i class="fa fa-tag prefix grey-text"></i>
                                        <input placeholder="confirm Vat Number" type="text" name="confirmVatNumber" [(ngModel)]="model.confirmVatNumber" #confirmVatNumber="ngModel" required/>
                                        <!-- <label for="confirmVatNumber">confirm Vat Number</label> -->
                                        <span *ngIf="f.submitted && !confirmVatNumber.valid" class="help-block">Vat Numbers do not match</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!--username-->
                                <div class="col-md-6">
                                    <div class="md-form">
                                        <i class="fa fa-envelope prefix grey-text"></i>
                                        <input placeholder="Email" type="text" name="username" [(ngModel)]="model.username" #username="ngModel" required/>
                                        <!-- <label for="vatNumber">Vat Number</label> -->
                                        <span *ngIf="f.submitted && !username.valid" class="help-block">User email is required</span>
                                    </div>
                                </div>

                                <!--Password-->
                                <div class="col-md-6">
                                    <div class="md-form">
                                        <i class="fa fa-key prefix grey-text"></i>
                                        <input placeholder="Password" type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required/>
                                        <!-- <label for="confirmVatNumber">confirm Vat Number</label> -->
                                        <span *ngIf="f.submitted && !password.valid" class="help-block">Password required</span>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-success" (click)="t.selectTab(1)">Next</button>
                        </app-tab>
                        <app-tab title="Correspondence">
                            <!-- Reg step 2 -->

                            <div class="row">
                                <!--Acc Person  Name-->
                                <div class="col-md-12">
                                    <div class="clearfix pad-top-10">
                                        <div class="md-form" [ngClass]="{ 'has-error': f.submitted && !accPersonName.valid }">
                                            <i class="fa fa-user prefix grey-text"></i>
                                            <input placeholder="Accounts Person Name" name="accPersonName" type="text" [(ngModel)]="model.accPersonName" #accPersonName="ngModel" required />
                                            <span *ngIf="f.submitted && !accPersonName.valid" class="help-block">Accounts Person Name is required</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!--Acc Person Number-->
                                <div class="col-md-6">
                                    <div class="clearfix pad-top-10">
                                        <div class="md-form" [ngClass]="{ 'has-error': f.submitted && !accPersonNo.valid }">
                                            <i class="fa fa-phone prefix grey-text"></i>
                                            <input placeholder="Phone Number" name="accPersonNo" type="text" [(ngModel)]="model.accPersonNo" #accPersonNo="ngModel" required/>
                                            <span *ngIf="f.submitted && !accPersonNo.valid" class="help-block">Phone Number is required</span>
                                        </div>
                                    </div>
                                </div>
                                <!--Acc Person Fax Number-->
                                <div class="col-md-6">
                                    <div class="clearfix pad-top-10">
                                        <div class="md-form" [ngClass]="{ 'has-error': f.submitted && !accPersonFaxNo.valid }">
                                            <i class="fa fa-fax prefix grey-text"></i>
                                            <input placeholder="Fax Number" type="text" name="accPersonFaxNo" [(ngModel)]="model.accPersonFaxNo" #accPersonFaxNo="ngModel" required/>
                                            <span *ngIf="f.submitted && !accPersonFaxNo.valid" class="help-block">Fax Number is required</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!--Email-->
                                <div class="col-md-12">
                                    <div class="md-form">
                                        <i class="far fa-envelope prefix grey-text"></i>
                                        <input placeholder="Email" type="email" name="accPersonEmail" [(ngModel)]="model.accPersonEmail" #accPersonEmail="ngModel" required/>
                                        <span *ngIf="f.submitted && !accPersonEmail.valid" class="help-block">Email is required</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <!--Sales Person  Name-->
                                <div class="col-md-12">
                                    <div class="clearfix pad-top-10">
                                        <div class="md-form" [ngClass]="{ 'has-error': f.submitted && !salesPersonName.valid }">
                                            <i class="fa fa-user prefix grey-text"></i>
                                            <input placeholder="Sales Person Name" name="salesPersonName" type="text" [(ngModel)]="model.salesPersonName" #salesPersonName="ngModel" required/>
                                            <span *ngIf="f.submitted && !salesPersonName.valid" class="help-block">Sales Person Name is required</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!--Sales Person Number-->
                                <div class="col-md-6">
                                    <div class="clearfix pad-top-10">
                                        <div class="md-form" [ngClass]="{ 'has-error': f.submitted && !salesPersonNo.valid }">
                                            <i class="fa fa-phone prefix grey-text"></i>
                                            <input placeholder="Phone Number" name="salesPersonNo" type="text" [(ngModel)]="model.salesPersonNo" #salesPersonNo="ngModel" required/>
                                            <span *ngIf="f.submitted && !salesPersonNo.valid" class="help-block">Phone Number is required</span>
                                        </div>
                                    </div>
                                </div>
                                <!--Sales Person Fax Number-->
                                <div class="col-md-6">
                                    <div class="clearfix pad-top-10">
                                        <div class="md-form" [ngClass]="{ 'has-error': f.submitted && !salesPersonFaxNo.valid }">
                                            <i class="fa fa-fax prefix grey-text"></i>
                                            <input placeholder="Fax Number" type="text" name="salesPersonFaxNo" [(ngModel)]="model.salesPersonFaxNo" #salesPersonFaxNo="ngModel" required/>
                                            <span *ngIf="f.submitted && !salesPersonFaxNo.valid" class="help-block">Fax Number is required</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!--Email-->
                                <div class="col-md-12">
                                    <div class="md-form">
                                        <i class="far fa-envelope prefix grey-text"></i>
                                        <input placeholder="Email" type="email" name="salesPersonEmail" [(ngModel)]="model.salesPersonEmail" #salesPersonEmail="ngModel" required/>
                                        <span *ngIf="f.submitted && !salesPersonEmail.valid" class="help-block">Email is required</span>
                                    </div>
                                </div>
                            </div>
                            <button [disabled]="loading" class="btn btn-deep-orange btn-block">
                                <span *ngIf="!loading">Register</span>
                                 <span *ngIf="loading">
                                        <i class="fa fa-spinner"></i>
                                 </span>
                         </button>
                            <!-- <button class="btn btn-success" (click)="t.selectTab(2)">Next</button> -->

                            <a [routerLink]="['/login']" class="btn btn-link gray-text">Cancel</a>
                        </app-tab>
                        <!-- <app-tab title="Rquired Documents">
                            <div class="form-group">
                              
    
                            </div>
                        </app-tab> -->
                    </app-tabs>
                </form>

            </div>
        </div>
    </div>
</div>