<form [formGroup]="regStep" class="row" autocomplete="off">
    <div class="col-twelve grid">
        <div class="reg-header-width">
            <h3>{{resourceStrings?.IDDocDetails || 'Identity document details'}}</h3>
        </div>
    </div>
    <div class="col-six grid">
        <div class="row reg-input-width">
            <div class="col-twelve grid">
                <label for="LoginName">{{resourceStrings?.Username || 'Username'}}</label>
                <input formControlName="LoginName" name="LoginName" type="text" />
                <div class="form-text-danger" *ngIf="!validUsername">{{resourceStrings?.InvalidUsername || 'Invalid username, suggestions'}}:
                    <button class="btn btn-default btn-small btn-expanded" *ngFor="let name of suggestedUsernames" (click)='newUserName(name)'>{{name}}</button>
                </div>
                <span class="form-text-danger" *ngIf="regStep.get('LoginName').hasError('required') && regStep.get('LoginName').touched">
                    {{resourceStrings?.PleaseChooseUsername || 'Please choose a username to create your account - maximum 20 characters.'}}
                    <a>{{resourceStrings?.LiveHelp || 'Live Help'}}</a>
                </span>
                <label for="Password">{{resourceStrings?.Password || 'Password'}}</label>
                <div class="input-group">
                    <input formControlName="Password" name="Password" (change)="checkValue($event)" [type]="passSwitch? 'password': 'text'" />
                    <button class="btn btn-input" type="button" (click)="togglePassView()">{{resourceStrings?.Show || 'Show'}}</button>
                </div>
                <span class="form-text-danger" *ngIf="regStep.get('Password').hasError('required') && regStep.get('Password').touched">
                    {{resourceStrings?.PasswordStrength || 'Password strength. Weak. Please choose a password. Use a combination of numbers and
                    letters – min 4 and max 20 characters.'}}
                </span>
                <label for="confirmPassword">{{resourceStrings?.ConfirmPassword || 'Confirm Password'}}</label>
                <div class="input-group">
                    <input formControlName="confirmPassword" name="confirmPassword" [type]="confSwitch? 'password': 'text'" />
                    <button class="btn btn-input" type="button" (click)="toggleConfView()">{{resourceStrings?.Show || 'Show'}}</button>
                </div>
                <span class="form-text-danger" *ngIf="regStep.get('confirmPassword').hasError('passwordMatch') && regStep.get('confirmPassword').touched">
                    {{resourceStrings?.PasswordConfirmError || 'This is to ensure you entered your password correctly.'}}
                </span>
                <label for="SecurityQuestion">{{resourceStrings?.SecretQuestion || 'Secret Question'}}</label>
                <input formControlName="SecurityQuestion" name="SecurityQuestion" type="text" />
                <span class="form-text-danger" *ngIf="regStep.get('SecurityQuestion').hasError('required') && regStep.get('SecurityQuestion').touched">
                    {{resourceStrings?.SecretQuestionError || 'Enter a question only you know the answer to. Make sure the question is not related
                    to your password. This question will be used as part the Forgot Password function'}}
                </span>
                <label for="SecurityAnswer">{{resourceStrings?.SecretAnswer || 'Secret Answer'}}</label>
                <input formControlName="SecurityAnswer" name="SecurityAnswer" type="text" />
                <span class="form-text-danger" *ngIf="regStep.get('SecurityAnswer').hasError('required') && regStep.get('SecurityAnswer').touched">
                    {{resourceStrings?.PasswordConfirmError || 'Enter the answer to your secret question'}}
                </span>
            </div>
        </div>


    </div>
    <div class="col-six grid">
        <div class="row reg-input-width">
            <div class="col-twelve grid">
                <label for="SessionDurationPeriod">{{resourceStrings?.SessionDurationReminder || 'Session duration reminder'}}</label>
                <ng-container *ngIf="!sessionLoad; else emptyBar">
                    <span class="input-group">
                        <select formControlName="SessionDurationPeriod" name="SessionDurationPeriod">
                            <option *ngFor="let limit of sessionDurationList" [value]="limit.BId">{{limit.Name}}</option>
                        </select>
                        <span class="btn-input-dropdown">
                        </span>
                    </span>
                </ng-container>
                <label for="WeeklyDepositLimit">{{resourceStrings?.DepositLimit || 'Deposit Limit'}}</label>
                <input formControlName="WeeklyDepositLimit" name="WeeklyDepositLimit" />
                <ng-template #emptyBar>
                    <select>
                        <option>Loading...</option>
                    </select>
                </ng-template>

                <span class="form-text-danger" *ngIf="regStep.get('WeeklyDepositLimit').hasError('required') && regStep.get('WeeklyDepositLimit').touched">
                    {{resourceStrings?.InvalidAmount || 'You have entered an invalid amount. Please correct the value before proceeding'}}
                </span>
                <label for="CurrencyCode">{{resourceStrings?.Currency || 'Currency'}}</label>
                <span class="input-group">
                    <select formControlName="CurrencyCode" name="CurrencyCode">
                        <option *ngFor="let currency of currencyList" [value]="currency.CC">{{currency.CN}}</option>
                    </select>
                    <span class="btn-input-dropdown"></span>
                </span>

                <label for="AcceptedLegalContract" class="checkbox-cont">
                    <input class="input-checkbox" formControlName="AcceptedLegalContract" name="AcceptedLegalContract" type="checkbox" />
                    <span class="checkmark"></span>
                    <span class="text-small">{{resourceStrings?.TermsAndCond || 'I have read and accept the terms and conditions'}}</span>
                </label>
                <span class="form-text-danger no-marg-top" *ngIf="regStep.get('AcceptedLegalContract').hasError('required') && regStep.get('AcceptedLegalContract').touched">
                    {{resourceStrings?.TermsAndCondError || 'Please confirm that you accept the Terms and Conditions'}}
                </span>
                <label for="legalAge" class="checkbox-cont">
                    <input class="input-checkbox" formControlName="legalAge" name="legalAge" type="checkbox" />
                    <span class="checkmark"></span>
                    <span class="text-small">{{resourceStrings?.LegalAge || 'I am of legal age'}}</span>
                </label>
                <span class="form-text-danger no-marg-top" *ngIf="regStep.get('legalAge').hasError('required') && regStep.get('legalAge').touched">
                    {{resourceStrings?.LegalAgeError || 'Please confirm that you are of legal age to play at the Casino.'}}
                </span>
                <label for="PrivacyPolicy" class="checkbox-cont">
                    <input class="input-checkbox" formControlName="PrivacyPolicy" name="PrivacyPolicy" type="checkbox" />
                    <span class="checkmark"></span>
                    <span class="text-small">{{resourceStrings?.PrivacyPolicy || 'I have read the privacy policy'}}</span>
                </label>
                <span class="form-text-danger no-marg-top" *ngIf="regStep.get('PrivacyPolicy').hasError('required') && regStep.get('PrivacyPolicy').touched">
                    {{resourceStrings?.PrivacyPolicyError || 'Please confirm that you accept the Privacy Policy'}}
                </span>
                <p class="spacing-top text-small">{{resourceStrings?.MarketingMails || 'I wish to be included in marketing mails'}}</p>
                <span class="clearfix">
                    <label class="pull-left checkbox-cont spacing-right">
                        <input class="input-checkbox" formControlName="IncludeInCommunications" value="yes" type="radio" />
                        <span class="checkmark radio-checkmark"></span>
                        <span class="text-small">{{resourceStrings?.Yes || 'Yes'}}</span>
                    </label>
                    <label class="pull-left checkbox-cont">
                        <input class="input-checkbox" formControlName="IncludeInCommunications" value="no" type="radio" />
                        <span class="checkmark radio-checkmark"></span>
                        <span class="text-small">{{resourceStrings?.No || 'No'}}</span>
                    </label>
                </span>

            </div>
        </div>

    </div>
</form>